@import           url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC|Reenie+Beanie');

#logo {
    background-color: white;
    position: relative;
    max-width: 110px;
    border: .1em solid;
    margin-left: 1em;
}

nav li {
    display: inline-block;
}

nav {
    background-color: #E0AC3E;
    color: #278089;
    max-width: 824px;
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 1.2em;
    line-height: 3em;
    margin-top: -100px;
    padding-left: 116px;
    justify-content: center;
}

nav a {
    color: #278089;
    text-decoration: none;
    padding: 1em .6em;
}

nav a:hover {
    color: #E0AC3E;
    background-color: #E0473E;
}

nav a:active {
    color: #E0AC3E;
    background-color: #E0473E;
}
    
img {
    max-width: 100%;
}

.fullwidth {
    max-width: 940px;
    margin-top: -19px;
}

#infobanner {
    text-align: center;
    margin-top: -15px;
}

h2 {
    color: #E0473E;
    font-family: 'Reenie Beanie', cursive;
    font-size: 45px;
    margin-top: .6em;
    margin-bottom: .2em;
}

#infobanner1 {
    text-align: center;
    margin-top: -15px;
}

section img {
    width: 100%
}
    
.rightcol1, .leftcol1, .rightcol2, .leftcol2, .rightcol4, .leftcol4, .rightcol5, .leftcol5, .rightcol6, .leftcol6 {
    max-width: 48%;
    flex: 1 0 15em;
    margin: .5em;
}

.rightcol5, .leftcol5, .rightcol6, .leftcol6{
    text-align: center;
}

.rightcol1 {
    margin-right: 1em
}
    
.leftcol2 {
    margin-left: 1em
}
    
#section1, #section2, #section4, #section5, #section6, #section7, #section8{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: -4px;
}

#section1, #section2, #section3, #section4, #section5, #section6, #section7, #section8 {
    max-width: 940px;
}
    
#section2, #section4, #section5, #section7 {
    background-color: #E0AC3E;
}

#section3 {
    text-align: center
}
    
#footer {
    background-color: #E0AC3E;
    color: #E0473E;
    height: 55px;
    max-width: 940px;
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 15px
}
   
h1 {
    color: #E0473E;
    font-family: 'Reenie Beanie', cursive;
    font-size: 35px;
    padding-top: 10px;
    padding-left: 15px;
    margin-top: .1em;
    margin-bottom: .2em;
}
    
.P1,.P2,.P3 {
    color: #278089;
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: .25em
}
    
#content {
    width: 940px auto;
    margin: 0 auto;
}
    
body {
    margin: 10px 10px 10px 10px;
}
    
.copyright {
    padding: 2px;
}
    
.icons {
    display: flex;
    justify-content: flex-end;
    margin-top: -44px;
}
    
.facebook {
    padding-right: 6px;
}
    
.twitter {
    padding-right: 6px;
}
    
.pinterest {
    padding-right: 7px;
}